
/* Universal Selector */
* {
  margin:0;
  padding:0;  
  box-sizing: border-box;
}


/* Media queries */
@media only screen and (max-width: 992px) {
    #search-button{
        width:100%;
    }
    #search-city{
        width:100%;
    }
}
@media only screen and (max-width: 575px) {

    #fiveDayForecastUl{
        justify-content: center;
    }
}